<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="io.cucumber.eclipse.editor.steps.integration" name="Cucumber Steps Integration" schema="schema/cucumber.eclipse.steps.integration.exsd"/>
    <extension point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="io.cucumber.eclipse.editor.content-type.feature"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   	</extension>
   	
   	<extension point="org.eclipse.ui.bindings">
      <key sequence="M1+M2+F"
            commandId="io.cucumber.eclipse.editor.format"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" />
    </extension>
     <extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.genericeditor.source.menu?after=additions">
         <command commandId="io.cucumber.eclipse.editor.format">
            <visibleWhen>
                <with variable="activeEditorInput">
                  <adapt type="org.eclipse.core.resources.IResource">
                     <test
                           property="org.eclipse.core.resources.contentTypeId"
                           value="io.cucumber.eclipse.editor.content-type.feature">
                     </test>
                  </adapt>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      </extension>
    
    <extension point="org.eclipse.ui.commands">
      <command
            categoryId="io.cucumber.eclipse.editor.category"
            id="io.cucumber.eclipse.editor.format"
            name="Format Feature File" />
   </extension>

   
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="io.cucumber.eclipse.editor.format.GherkingFormatHandler"
            commandId="io.cucumber.eclipse.editor.format">
         <activeWhen>
			 <with variable="activePart">
             <test property="io.cucumber.eclipse.editor.format.isGherkingDocument" value="true">
               </test>
            </with>
         </activeWhen>
      </handler>
   	</extension>
   	
     <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="io.cucumber.eclipse.editor.format.EditorInputPropertyTester"
            id="io.cucumber.eclipse.editor.format.editorInputPropertyTester"
            namespace="io.cucumber.eclipse.editor.format"
            properties="isGherkingDocument"
            type="org.eclipse.ui.IWorkbenchPart">
      </propertyTester>
   </extension>
   	
	 <extension
	       point="org.eclipse.core.contenttype.contentTypes">
	    <content-type
	          base-type="org.eclipse.core.runtime.text"
	          default-charset="UTF-8"
	          file-extensions="feature"
	          id="io.cucumber.eclipse.editor.content-type.feature"
	          name="Cucumber Feature"
	          priority="high">
	    </content-type>
	 </extension>
  <extension
        point="org.eclipse.ui.genericeditor.presentationReconcilers">
     <presentationReconciler
           class="io.cucumber.eclipse.editor.syntaxhighlight.GherkinPresentationReconciler"
           contentType="io.cucumber.eclipse.editor.content-type.feature">
     </presentationReconciler>
  </extension>
  <extension
        point="org.eclipse.core.filebuffers.documentSetup">
     <participant
           class="io.cucumber.eclipse.editor.validation.GherkinSyntaxValidator"
           contentTypeId="io.cucumber.eclipse.editor.content-type.feature">
     </participant>
  </extension>
  <extension
         point="org.eclipse.ui.themes">
        <themeElementCategory label="Gherkin" id="cucumber.eclipse.editor.presentation"/>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_string_colour"
        	label="String Colour"
        	value="0,128,0">
        </colorDefinition>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_comment_colour"
        	label="Comment Colour"
        	value="128,0,0">
        </colorDefinition>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_text_colour"
        	label="Text Colour"
        	value="0,0,0">
        </colorDefinition>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_keyword_colour"
        	label="Keyword Colour"
        	value="128,128,0">
        </colorDefinition>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_placeholder_colour"
        	label="Placeholder Colour"
        	value="255,128,0">
        </colorDefinition>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_step_colour"
        	label="Step Colour"
        	value="0,128,128">
        </colorDefinition>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_tag_colour"
        	label="Tag Colour"
        	value="0,128,255">
        </colorDefinition>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_numeric_literal_colour"
        	label="Numeric Colour"
        	value="0,128,0">
        </colorDefinition>
     </extension>
 	<extension
           id="cucumber.eclipse.marker"
           point="org.eclipse.core.resources.markers">
           <super type="org.eclipse.core.resources.textmarker"/>
           <persistent value="true"/>
	</extension>
     <extension
           id="cucumber.eclipse.marker.gherkin.syntaxerror"
           point="org.eclipse.core.resources.markers"
           name="Gherkin syntax error">
           <super type="org.eclipse.core.resources.problemmarker"/>
           <super type="cucumber.eclipse.marker"/>
           <persistent value="true"/>
	</extension>
	<extension
	    id="cucumber.eclipse.marker.gherkin.unmatched_step"
	    name="Unmatched step"
	    point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.core.resources.problemmarker"/>
	  	<super type="cucumber.eclipse.marker"/>
	  	<attribute name="cucumber.eclipse.marker.gherkin.unmatched_step.keyword"/>
	  	<attribute name="cucumber.eclipse.marker.gherkin.unmatched_step.name"/>
	  	<attribute name="cucumber.eclipse.marker.gherkin.unmatched_step.path"/>
	  	<persistent value="true"/>
	</extension>
    <extension
	    id="cucumber.eclipse.marker.gherkin.validation_error"
	    name="Step Validation Error"
	    point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.core.resources.problemmarker"/>
	  	<super type="cucumber.eclipse.marker"/>
	  	<persistent value="true"/>
	</extension>
	<extension
	    id="cucumber.eclipse.marker.language.support_available"
	    name="Language Support Available"
	    point="org.eclipse.core.resources.markers">
	    <super type="org.eclipse.core.resources.problemmarker"/>
	  	<super type="cucumber.eclipse.marker"/>
	  	<attribute name="cucumber.eclipse.marker.language.support_available.bundle_id"/>
	  	<attribute name="cucumber.eclipse.marker.language.support_available.language"/>
	  	<persistent value="true"/>
	</extension>
	<extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="cucumber.eclipse.annotation.gherkin.unmatched_step"
            colorPreferenceKey="cucumber.eclipse.marker.gherkin.unmatched_step.color"
            colorPreferenceValue="247,207,84"
            contributesToHeader="false"
            highlightPreferenceKey="cucumber.eclipse.marker.gherkin.unmatched_step.highlight"
            highlightPreferenceValue="true"
            includeOnPreferencePage="true"
            label="Cucumber unmatched step"
            overviewRulerPreferenceKey="cucumber.eclipse.marker.gherkin.unmatched_step.overview"
            overviewRulerPreferenceValue="true"
            presentationLayer="0"
            textPreferenceKey="cucumber.eclipse.marker.gherkin.unmatched_step.text"
            textPreferenceValue="true"
            textStylePreferenceValue="BOX"
            verticalRulerPreferenceKey="cucumber.eclipse.marker.gherkin.unmatched_step.ruler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>
   <extension
	  point="org.eclipse.ui.editors.annotationTypes">
	  <type
	        markerType="cucumber.eclipse.marker.gherkin.unmatched_step"
	        name="cucumber.eclipse.annotation.gherkin.unmatched_step">
	  </type>
	</extension>
	<extension
	  point="org.eclipse.ui.editors.annotationTypes">
	  <type
	        markerType="cucumber.eclipse.marker.scenario_outline_example_unmatch"
	        name="cucumber.eclipse.annotation.gherkin.unmatched_step">
	  </type>
	</extension>
     <extension
           point="org.eclipse.ui.genericeditor.contentAssistProcessors">
        <contentAssistProcessor
              class="io.cucumber.eclipse.editor.contentassist.GherkinContentAssistProcessor"
              contentType="io.cucumber.eclipse.editor.content-type.feature">
        </contentAssistProcessor>
        <contentAssistProcessor
              class="io.cucumber.eclipse.editor.contentassist.CucumberStepContentAssistProcessor"
              contentType="io.cucumber.eclipse.editor.content-type.feature">
        </contentAssistProcessor>
     </extension>
     <extension
           point="org.eclipse.ui.trace.traceComponents">
        <component
              id="io.cucumber.eclipse.editor.trace.cucumber"
              label="Cucumber Editor">
           <bundle
                 name="io.cucumber.eclipse.editor"></bundle>
        </component>
     </extension>
     <extension
           point="org.eclipse.ui.genericeditor.icons">
        <icon
              contentType="io.cucumber.eclipse.editor.content-type.feature"
              icon="icons/cukes.gif">
        </icon>
     </extension>
     <extension
           point="org.eclipse.ui.console.consoleFactories">
        <consoleFactory
              id="io.cucumber.console"
              class="io.cucumber.eclipse.editor.console.CucumberConsoleFactory"
              icon="icons/cukes.gif"
              label="Cucumber Console">
        </consoleFactory>
     </extension>
     <!-- TODO is this required? seems to work without already... -->
      <extension
           point="org.eclipse.ui.genericeditor.reconcilers">
        <reconciler
              class="org.eclipse.jface.text.codemining.CodeMiningReconciler"
              contentType="io.cucumber.eclipse.editor.content-type.feature">
        </reconciler>
     </extension>
     <extension
           point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
        <hyperlinkDetector
              activate="true"
              class="io.cucumber.eclipse.editor.hyperlinks.StepHyperlinkDetector"
              id="io.cucumber.eclipse.editor.hyperlinkDetector1"
              name="Gherkin Steps"
              targetId="org.eclipse.ui.genericeditor.GenericEditor">
        </hyperlinkDetector>
     </extension>
     <extension
           point="org.eclipse.ui.genericeditor.quickAssistProcessors">
        <quickAssistProcessor
              class="io.cucumber.eclipse.editor.contentassist.CucumberStepQuickAssistProcessor"
              contentType="io.cucumber.eclipse.editor.content-type.feature">
        </quickAssistProcessor>
     </extension>
     	<extension
           point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
              class="io.cucumber.eclipse.editor.launching.CucumberFeatureLaunchShortcut"
              description="Run this feature with cucumber-jvm"
              icon="icons/cukes.gif"
              id="io.cucumber.eclipse.editor.launchShortcut"
              label="Cucumber"
              modes="run,debug,profile">
              <configurationType
			        id="cucumber.eclipse.launching.localCucumberFeature">
	          </configurationType>
	          <contextualLaunch>
		         <contextLabel mode="run" label="Cucumber Feature" />
		         <contextLabel mode="debug" label="Cucumber Feature" />
		         <enablement >
		           <with variable="selection">
			           <iterate>
			            <adapt type="org.eclipse.core.resources.IResource">
			                <and>
			                <test property="org.eclipse.core.resources.name" value="*.feature"/>
			            </and>
			            </adapt>
			           </iterate>
			         </with>
			       </enablement>
			     </contextualLaunch>
			   </shortcut>
     </extension>
      <extension
            point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
         <codeMiningProvider
               class="io.cucumber.eclipse.editor.codemining.CucumberRunCodeMiningProvider"
               id="io.cucumber.eclipse.editor.codeMiningProvider1"
               label="Cucumber Run Annotations">
         </codeMiningProvider>
      </extension>
      <extension
		point="org.eclipse.core.runtime.preferences">
		<initializer
			class="io.cucumber.eclipse.editor.preferences.CucumberPreferenceInitializer"/>
	</extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
			id="cucumber.eclipse.editor.preferences.main"
			class="io.cucumber.eclipse.editor.preferences.CucumberPreferencePage"
			name="Cucumber" />
   </extension>
   <extension
       point="org.eclipse.unittest.ui.unittestViewSupport">
    <viewSupport
          class="io.cucumber.eclipse.editor.testresults.CucumberTestViewSupport"
          id="io.cucumber.eclipse.editor.testresults">
    </viewSupport>
 </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="io.cucumber.eclipse.editor.debug.GherkingBreakpoint"
            id="io.cucumber.eclipse.editor.breakpoint"
            markerType="io.cucumber.eclipse.editor.lineBreakpoint.marker"
            name="Cucumber Breakpoint">
      </breakpoint>
   </extension>
  <extension
       id="io.cucumber.eclipse.editor.lineBreakpoint.marker"
       point="org.eclipse.core.resources.markers">
       <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
       <persistent value="true"/>
    </extension>
    <!-- Workaround for Bug 575970 -->
     <extension point="org.eclipse.ui.editorActions">
	    <editorContribution
	          targetID="org.eclipse.ui.genericeditor.GenericEditor"
	          id="Bug575970.rulerActions">
	       <action
	             label="Not Used"
	             class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
	             style="push"
	             actionID="RulerDoubleClick"
	             id="Bug575970.doubleClickBreakpointAction"/>
	    </editorContribution>
	 </extension>
	 <!-- non deprecated but seem to not work atm....
	 <extension
	       point="org.eclipse.ui.menus">
	    <menuContribution
	          allPopups="false"
	          locationURI="popup:#TextRulerContext?before=additions">
	       <command
	             commandId="org.eclipse.debug.ui.commands.ToggleBreakpoint"
	             style="push">
	       </command>
	    </menuContribution>
	 </extension>
	 -->
	 <!-- Workaround for Bug 575970 -->
	 <extension point="org.eclipse.ui.popupMenus">
	   <viewerContribution
	     targetID="#TextRulerContext"
	     id="Bug575970.RulerPopupActions">
	       <action
	         label="Toggle Breakpoint"
	         class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
	         menubarPath="additions"
	         id="Bug575970.rulerContextMenu.toggleBreakpointAction">
	       </action>
	   </viewerContribution>
	 </extension>
	 <extension
      point="org.eclipse.ui.propertyPages">
   <page
         class="io.cucumber.eclipse.editor.properties.CucumberPropertiesPage"
         icon="icons/cukes.gif"
         id="cucumber.eclipse.editor.properties.main"
         name="Cucumber">
   </page>
</extension>
	 <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="io.cucumber.eclipse.editor.quickfix.LanguageSupportMarkerResolutionGenerator"
            markerType="cucumber.eclipse.marker.language.support_available">
      </markerResolutionGenerator>
   </extension>
	 <!-- Eclipse Activity Support -->
	 <extension
         point="org.eclipse.ui.activities">
      <category
            id="io.cucumber.eclipse.editor.category"
            name="Cucumber"
            description="Cucumber Editor for Eclipse">
      </category>
      
      <!-- Preference Pages -->
      <activity
            id="io.cucumber.eclipse.editor.preferences"
            name="Cucumber Preferences"
            description="Show Cucumber preference pages">
      </activity>
      <defaultEnablement
            id="io.cucumber.eclipse.editor.preferences">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="io.cucumber.eclipse.editor.preferences"
            categoryId="io.cucumber.eclipse.editor.category">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="io.cucumber.eclipse.editor.preferences"
            pattern="io.cucumber.eclipse.editor/cucumber.eclipse.editor.preferences.main">
      </activityPatternBinding>
      
    <!-- Properties Pages -->
    <activity
            id="io.cucumber.eclipse.editor.properties"
            name="Cucumber Properties"
            description="Show Cucumber property pages">
     </activity>
     <defaultEnablement
            id="io.cucumber.eclipse.editor.properties">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="io.cucumber.eclipse.editor.properties"
            categoryId="io.cucumber.eclipse.editor.category">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="io.cucumber.eclipse.editor.properties"
            pattern="io.cucumber.eclipse.editor/cucumber.eclipse.editor.properties.main">
      </activityPatternBinding>
      
       <!-- Launch Shortcuts -->
       <activity
            id="io.cucumber.eclipse.editor.launch"
            name="Launch Shortcuts"
            description="Show Cucumber launch shortcuts">
     </activity>
     <defaultEnablement
            id="io.cucumber.eclipse.editor.launch">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="io.cucumber.eclipse.editor.launch"
            categoryId="io.cucumber.eclipse.editor.category">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="io.cucumber.eclipse.editor.launch"
            pattern="io.cucumber.eclipse.editor/io.cucumber.eclipse.editor.launchShortcut">
      </activityPatternBinding>
      
      <!-- Console -->
      <activity
            id="io.cucumber.eclipse.editor.console"
            name="Cucumber Console"
            description="Show Cucumber Console">
     </activity>
     <defaultEnablement
            id="io.cucumber.eclipse.editor.console">
      </defaultEnablement>
      <categoryActivityBinding
            activityId="io.cucumber.eclipse.editor.console"
            categoryId="io.cucumber.eclipse.editor.category">
      </categoryActivityBinding>
      <activityPatternBinding
            activityId="io.cucumber.eclipse.editor.console"
            pattern="io.cucumber.eclipse.editor/io.cucumber.console">
      </activityPatternBinding>
   </extension>
</plugin>
