<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="targetdefinition" sequenceNumber="10">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
	<repository location="http://download.eclipse.org/releases/2025-09"/>
	<unit id="org.eclipse.sdk.ide" version="0.0.0"/>
	<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
	<unit id="org.eclipse.unittest.ui" version="0.0.0"/>
</location>
	<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/technology/m2e/releases/latest/"/>
		<unit id="org.eclipse.m2e.sdk.feature.feature.group" version="0.0.0"/>
	</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>io.cucumber</groupId>
				<artifactId>gherkin</artifactId>
				<version>36.0.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
		<instructions><![CDATA[
Bundle-Name:           ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               ${version_cleanup;${mvnVersion}}
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        !sun.*,io.cucumber.messages.internal.com.google.gson*,!io.cucumber.messages.internal.*,!org.checkerframework.*,*
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
	</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>io.cucumber</groupId>
				<artifactId>cucumber-java</artifactId>
				<version>7.31.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
		<instructions><![CDATA[
Bundle-Name:           ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               ${version_cleanup;${mvnVersion}}
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        !sun.*,io.cucumber.messages.internal.com.google.gson*,!io.cucumber.messages.internal.*,!org.checkerframework.*,*
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
	</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>io.cucumber</groupId>
				<artifactId>cucumber-core</artifactId>
				<version>7.30.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
		<instructions><![CDATA[
Bundle-Name:           ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               ${version_cleanup;${mvnVersion}}
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        !sun.*,io.cucumber.messages.internal.com.google.gson*,!io.cucumber.messages.internal.*,!org.checkerframework.*,*
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
	</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>io.cucumber</groupId>
				<artifactId>cucumber-expressions</artifactId>
				<version>18.0.1</version>
				<type>jar</type>
			</dependency>
		</dependencies>
		<instructions><![CDATA[
Bundle-Name:           ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               ${version_cleanup;${mvnVersion}}
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        !sun.*,io.cucumber.messages.internal.com.google.gson*,!io.cucumber.messages.internal.*,!org.checkerframework.*,*
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
	</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" label="Apache Commons" missingManifest="ignore" type="Maven">
		<dependencies>
			<dependency>
				<groupId>commons-io</groupId>
				<artifactId>commons-io</artifactId>
				<version>2.20.0</version>
				<type>jar</type>
			</dependency>
			<dependency>
				<groupId>org.apache.commons</groupId>
				<artifactId>commons-text</artifactId>
				<version>1.14.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
	</location>
	<location includeDependencyDepth="infinite" includeDependencyScopes="compile" includeSource="true" missingManifest="generate" type="Maven">
		<dependencies>
			<dependency>
				<groupId>io.cucumber</groupId>
				<artifactId>gherkin-utils</artifactId>
				<version>10.0.0</version>
				<type>jar</type>
			</dependency>
		</dependencies>
		<instructions><![CDATA[
Bundle-Name:           ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               ${version_cleanup;${mvnVersion}}
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        !sun.*,io.cucumber.messages.internal.com.google.gson*,!io.cucumber.messages.internal.*,!org.checkerframework.*,*
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
	</location>
</locations>
	<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-21"/>
</target>