<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point = "org.eclipse.debug.core.launchConfigurationTypes">
   <launchConfigurationType
       id="cucumber.eclipse.launching.localCucumberFeature"
       name="Cucumber Feature"
       delegate="cucumber.eclipse.launching.CucumberFeatureLocalApplicationLaunchConfigurationDelegate"
       modes= "run,debug"
       >
   </launchConfigurationType>
</extension>
<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/cukes.gif"
        configTypeID="cucumber.eclipse.launching.localCucumberFeature"
        id="cucumber.eclipse.launching.launchConfigurationTypeImage.localCucumberFeature">
    </launchConfigurationTypeImage>
</extension>
<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="cucumber.eclipse.launching.localCucumberFeature"
        class="cucumber.eclipse.launching.CucumberFeatureTabGroup"
        id="cucumber.eclipse.launching.launchConfigurationTabGroup.localCucumberFeature">
    </launchConfigurationTabGroup>
</extension>
<extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        id="cucumber.eclipse.launching.featureLaunchShortcut"
        class="cucumber.eclipse.launching.CucumberFeatureLaunchShortcut"
        label="Feature"
        icon="icons/cukes.gif"
        modes="run, debug">
        <configurationType
        id="cucumber.eclipse.launching.localCucumberFeature">
        </configurationType>
           <contextualLaunch>
         <contextLabel mode="run" label="Run Feature" />
         <contextLabel mode="debug" label="Debug Feature" />
         <enablement >
           <with variable="selection">
           <count value="1"/>
          <iterate>
            <adapt type="org.eclipse.core.resources.IResource">
                <and>
                <test property="org.eclipse.core.resources.name" value="*.feature"/>
            </and>
        </adapt>
          </iterate>
           </with>
       </enablement>
     </contextualLaunch>
    </shortcut>
</extension>

</plugin>
