<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="cucumber.eclipse.editor.editors.Editor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="feature"
            icon="icons/cukes.gif"
            id="cucumber.eclipse.editor.editors.Editor"
            name="Editor">
      </editor>
   	</extension>
   <extension
         point="org.eclipse.ui.themes">
        <themeElementCategory label="Gherkin" id="cucumber.eclipse.editor.presentation"/>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_string_colour"
        	label="String Colour"
        	value="0,128,0">
        </colorDefinition>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_comment_colour"
        	label="Comment Colour"
        	value="128,0,0">
        </colorDefinition>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_text_colour"
        	label="Text Colour"
        	value="0,0,0">
        </colorDefinition>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_keyword_colour"
        	label="Keyword Colour"
        	value="128,128,0">
        </colorDefinition>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_step_colour"
        	label="Step Colour"
        	value="0,128,128">
        </colorDefinition>
        <colorDefinition 
        	categoryId="cucumber.eclipse.editor.presentation"
        	id="cucumber.eclipse.editor.presentation.gherkin_numeric_literal_colour"
        	label="Numeric Colour"
        	value="0,128,0">
        </colorDefinition>
     </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Formatter"
            id="cucumber.eclipse.editor.formmtter">
      </category>
      <command
            categoryId="cucumber.eclipse.editor.formmtter"
            description="Format"
            id="cucumber.eclipse.editor.formmater.pretty_formatter"
            name="Pretty format feature file">
      </command>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <category
            name="Formatter"
            id="cucumber.eclipse.editor.runner">
      </category>
      <command
            categoryId="cucumber.eclipse.editor.runner"
            description="Format"
            id="cucumber.eclipse.editor.formmater.feature_runner"
            name="Run Feature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="cucumber.eclipse.editor.formmater.pretty_formatter"
            class="cucumber.eclipse.editor.editors.GherkinPrettyFormatHandler">
      </handler>
   </extension>
      <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="cucumber.eclipse.editor.formmater.feature_runner"
            class="cucumber.eclipse.editor.editors.GherkinFeatureRunnerHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
     <viewerContribution
        id="cucumber.eclipse.editor.gherkin"
        targetID="#TextEditorContext">
	    <action id="cucumber.eclipse.edtior.action.format"
	       label="Pretty Format"
	       icon="icons/cukes.gif"
	       menubarPath="additions"
	       helpContextId="cucumber.eclipse.editor.pretty_format_action_context"
	       class="cucumber.eclipse.editor.editors.GherkinPopupMenuPrettyFormatActionDelegate"	
           definitionId="cucumber.eclipse.editor.formmater.pretty_formatter"
	       >
	    </action>
	 </viewerContribution>
   </extension>
      <extension
         point="org.eclipse.ui.popupMenus">
     <viewerContribution
        id="cucumber.eclipse.editor.runner"
        targetID="#TextEditorContext">
	    <action id="cucumber.eclipse.edtior.action.runner"
	       label="Run Feature"
	       icon="icons/cukes.gif"
	       menubarPath="additions"
	       helpContextId="cucumber.eclipse.editor.feature_runner_action_context"
	       class="cucumber.eclipse.editor.editors.GherkinPopupMenuFeatureRunnerActionDelegate"	
           definitionId="cucumber.eclipse.editor.formmater.feature_runner"
	       >
	    </action>
	 </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="cucumber.eclipse.editor.formmater.pretty_formatter"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+SHIFT+F"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension point = "org.eclipse.debug.core.launchConfigurationTypes">
   <launchConfigurationType
   	   id="cucumber.eclipse.launching.localCucumberFeature"
	   name="Cucumber Feature"
	   delegate="cucumber.eclipse.launching.CucumberFeatureLocalApplicationLaunchConfigurationDelegate"
	   modes= "run"
	   sourceLocatorId="cucumber.eclipse.launching.sourceLocator.JavaSourceLookupDirector"
       sourcePathComputerId="cucumber.eclipse.launching.sourceLookup.javaSourcePathComputer">
   </launchConfigurationType>
</extension>
<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/cukes.gif"
        configTypeID="cucumber.eclipse.launching.localCucumberFeature"
        id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.localCucumberFeature">
    </launchConfigurationTypeImage>
</extension>
<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="cucumber.eclipse.launching.localCucumberFeature"
        class="cucumber.eclipse.launching.CucumberFeatureTabGroup"
        id="cucumber.eclipse.launching.launchConfigurationTabGroup.localCucumberFeature">
    </launchConfigurationTabGroup>
</extension>
</plugin>
