<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="io.cucumber.eclipse.java.steps.source"
         name="Java Source"
         point="io.cucumber.eclipse.editor.steps.integration">
      <stepDefinitionIntegration
            class="io.cucumber.eclipse.java.steps.JavaSourceStepDefinitionProvider">
      </stepDefinitionIntegration>
   </extension>
   <extension
         id="io.cucumber.eclipse.java.steps.classpath"
         name="Java Classpath"
         point="io.cucumber.eclipse.editor.steps.integration">
      <stepDefinitionIntegration
            class="io.cucumber.eclipse.java.steps.JavaClasspathStepDefinitionProvider">
      </stepDefinitionIntegration>
   </extension>
   <extension
         id="io.cucumber.eclipse.java.steps.cucumber"
         name="Cucumber Runtime"
         point="io.cucumber.eclipse.editor.steps.integration">
      <stepDefinitionIntegration
            class="io.cucumber.eclipse.java.steps.CucumberStepDefinitionProvider">
      </stepDefinitionIntegration>
   </extension>
	<extension
           point="org.eclipse.debug.ui.launchShortcuts">
        <shortcut
              class="io.cucumber.eclipse.java.launching.CucumberFeatureLaunchShortcut"
              description="Run this feature with cucumber-jvm"
              icon="icons/cukes.gif"
              id="io.cucumber.eclipse.editor.shortcut1"
              label="Cucumber JVM"
              modes="run,debug">
              <configurationType
			        id="cucumber.eclipse.launching.localCucumberFeature">
	          </configurationType>
	          <contextualLaunch>
		         <contextLabel mode="run" label="Cucumber Feature" />
		         <contextLabel mode="debug" label="Cucumber Feature" />
		         <enablement >
		           <with variable="selection">
			           <iterate>
			            <adapt type="org.eclipse.core.resources.IResource">
			                <and>
			                <test property="org.eclipse.core.resources.name" value="*.feature"/>
			            </and>
			            </adapt>
			           </iterate>
			         </with>
			       </enablement>
			     </contextualLaunch>
			   </shortcut>
     </extension>
</plugin>
