<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.core.resources.IProject"
            class="cucumber.eclipse.backends.java.JavaBackendAdapterFactory">
         <adapter
               type="io.cucumber.cucumberexpressions.ExpressionFactory">
         </adapter>
         <adapter
               type="cucumber.eclipse.steps.integration.KeyWordProvider">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="cucumber.eclipse.editor.properties.main"
            class="cucumber.eclipse.backends.java.properties.JavaBackendPropertyPage"
            id="cucumber.eclipse.backends.java.properties.samplePropertyPage"
            name="Java Backend">
         <enabledWhen>
    <adapt type="org.eclipse.core.resources.IProject" >
                <test
                 property="org.eclipse.core.resources.projectNature"
                value="cucumber.eclipse.nature">
                </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
	
</plugin>
