<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="cucumber.eclipse.steps.integration">
      <stepDefinitionIntegration class="cucumber.eclipse.steps.jdt.StepDefinitionsFactory">
      </stepDefinitionIntegration>
      <stepDefinitionIntegration class="cucumber.eclipse.steps.jdt.StepGenerator">
      </stepDefinitionIntegration>
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
		<page
			id="cucumber.eclipse.editor.jdt.preferences.page1"
			class="cucumber.eclipse.steps.jdt.ui.CucumberJavaPreferencesPage"
			name="Java"
			category="cucumber.eclipse.editor.preferences.Page1" />
   </extension>
   <extension
         point="cucumber.eclipse.editor.step_definition_opener">
         <opener class="cucumber.eclipse.steps.jdt.JavaStepDefinitionOpener"/>
   </extension>
</plugin>
