<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="cucumber.eclipse.steps.integration">
      <stepDefinitionIntegration class="cucumber.eclipse.steps.jdt.StepDefinitionsFactory">
      </stepDefinitionIntegration>
      <stepDefinitionIntegration class="cucumber.eclipse.steps.jdt.StepGenerator">
      </stepDefinitionIntegration>
   </extension> 
</plugin>
